@import "vendor/bootstrap-sass-official/assets/stylesheets/bootstrap";
@import url(http://fonts.googleapis.com/css?family=Great+Vibes);
@import url(http://fonts.googleapis.com/css?family=Cardo:400italic,700);

html, body {
  margin: 0px;
}

h1, h2, h3, h4, h5 {
	font-family: 'Great Vibes', cursive, Arial, Helvetica, sans-serif;
}

a, a:hover, p {
	font-family: Arial, Helvetica, sans-serif;
	color: #FF6C02;
}

html {
	margin-top: 51px;
}

body {
	background-color: rgb(255, 214, 196);
}

// Title font
.navbar {
	// background-color: #FF5C37;
	background-image: url(/assets/images/YZ04wj.png);
	background-repeat: repeat-x;
	background-attachment: fixed;
	border-bottom: solid 1px rgb(166, 52, 52);
	.navbar-header {
		width: 100%;
		position: absolute;
		.navbar-brand {
			color: whitesmoke;
			font-family: 'Great Vibes', cursive, Arial, Helvetica, sans-serif;
			font-size: 2.5em;
			padding-bottom: 0px;
			padding-top: 18px;
			width: 100%;
		}
	}
}

/********************************
*			LOGIN PAGE			*
********************************/

//
// All
//

#login-container {
	margin-top: 80px;

	.login-box {
		border: 1px solid #999;
		padding: 0px 40px 20px 40px;
	}
}

// Restyle the text input fields
.form-control {
	height: 30px;
	border-radius: 5px;
	background-color: #f7f7f7;
	border: 1px solid #999;
	box-shadow: 0px 1px 2px gray;

	padding: 10px;
}

.register-button {
	float: right;
}

// Form text input placeholder fonts
.form-control::-webkit-input-placeholder {
    font-family: Arial, Helvetica, sans-serif;
}

.form-control:-ms-input-placeholder {
    font-family: Arial, Helvetica, sans-serif;
}

.form-control:-moz-placeholder {
    font-family: Arial, Helvetica, sans-serif;
}

.form-control::-moz-placeholder {
    font-family: Arial, Helvetica, sans-serif;
}

// To fix navbar brand text not being quite centered
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
	margin-left: 0px;
}

// Override the well styling to have an inner box shadow
.well {
	background-color: white;
	box-shadow: 0px 1px 1px #999;
}

.navbar-default .navbar-nav > li > a {
	color: whitesmoke;
}

.navbar-default .navbar-nav > li > a:hover {
	color: rgb(200, 200, 200);
}

#feed-container {
	margin-top: 20px;

	.quote, .new-quote {
		background-color: #fff;
		border-radius: 15px;
		padding: 10px;
		margin-bottom: 20px;
		box-shadow: 0px 1px 3px #000;

		.new-quote-title {
			font-family: 'Cardo', cursive, Arial, Helvetica, sans-serif;
			font-size: 1.5em;
			color: black;
			font-style: italic;
		}

		.quote-text-area {
			max-width: 100%;
			margin-bottom: 10px;
		}

		.minor-text{
			color: rgb(163, 163, 163);
		}

		.quote-body-container {
			.quote-body {
				float: left;
				font-style: italic;
				.quotee {
					float: right;
					clear: both;
					font-weight: bold;
				}
			}

			p {
				font-family: 'Cardo', cursive, Arial, Helvetica, sans-serif;
				font-size: 1.5em;
				color: black;
			}
		}

		.user {
			float: left;
		}

		.timestamp {
			float: right;
		}
	}
}

//
// Mobile only
//
@media(max-width:767px){

}

// Tablet and above
@media(min-width:768px){
	#login-container {
		.container {
			width: 400px;
		}
	}

	#feed-container {
		width: 500px;
	}
}

// Small desktop
@media(min-width:992px){}

// Large desktop
@media(min-width:1200px){}


/********************************
*			STREAM   			*
********************************/

#page-title {
	margin-top: 40px;
}

.post textarea{
	max-width: 100%;
	min-width: 100%;
	height: 50px;
}

.post p, .post input{
	display: inline-block;
}

.post input, .post textarea{
	border: 1px solid #999;
	border-radius: 3px;
}

.quotee-input {
	margin-bottom: 10px;
}

.signin-to-post {
	p {
		vertical-align: middle;
		display: inline;
		color: #929292;
	}
}