<div id="feed-container" class="container">
	<div class="quote col-xs-12">
		<div class="quote-body-container">
			<p class="quote-body"><span class="quotation-mark">"</span>I'm pretty sure the earth orbits the moon, not vice-versa.<span class="quotation-mark">"</span><span class="quotee"> - Dale Salter</span></p>
		</div>
		<div class="minor-text user">
			Quoted by: Daniel Parker
		</div>
		<div class="minor-text timestamp">
			1st of August, 2014
		</div>
	</div>
	<div class="quote col-xs-12">
		<div class="quote-body-container">
			<p class="quote-body"><span class="quotation-mark">"</span>If you got a job at Heroku, you'd be slayin' poon every night.<span class="quotation-mark">"</span><span class="quotee"> - Dale Salter</span></p>
		</div>
		<div class="minor-text user">
			Quoted by: Daniel Parker
		</div>
		<div class="minor-text timestamp">
			1st of August, 2014
		</div>
	</div>
</div>