<div class="container">

    <h1 id="page-title">Ze Stream</h1>
    <div class="well">
        {{#each quote in model}}
        <div class="well quote">
            <p class="">{{quote.message}} <small>~ {{quote.author}}</small></p>
        </div>
        {{/each}}
    </div>
</div>
