<div id="login-container">
	<div class="container">
		<div class="login-box well">
			<div class="row">
				<div class="form-title text-center">
					<h1 class="col-xs-12">"Login"</h1>
				</div>
				<form id="login-form">
					<div class="form-group">
						<input class="form-control" type="text" name="username" placeholder="Username">
					</div>
					<div class="form-group">
						<input class="form-control" type="password" name="password" placeholder="Password">
					</div>
					<input class="login-button btn btn-danger" type="submit" value="Login">
					<input class="register-button btn btn-danger" type="button" value="Register">
				</form>
			</div>
		</div>
		<div class="footer text-center">
			{{#link-to 'feedback'}}Send us Feedback{{/link-to}}
		</div>
	</div>
</div>